<div class="row">
    <div class="col-4">
        <img src={{tvImage}} style="width: 100%;" alt="TV Image">
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <h2>{{tvName}}</h2>
                <h4>Summary</h4>
                {{{tvSummary}}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Rating: {{tvRating}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <button class="btn btn-dark"><a href="/">Back</a></button>
            </div>
            <div class="col">
                <button class="btn btn-warning"><a href={{tvSite}}>Official Site</a></button>
            </div>
        </div>
    </div>
</div>