<div class="row">
    <div class="col">
        <h2>Results of the search are as follows:</h2>
        <ul>
            <li>Name: {{tvName}}</li>
            <li>Rating: {{tvRating}}</li>
            <li><img src={{tvImage}} alt="TV Image"></li>
            <li>Summary: {{{tvSummary}}}</li>
            <li><a href={{tvSite}}>Official Site</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="/">Back</a>
    </div>
</div>